a:hover {
	text-decoration: none;
	text-decoration-line: none;
}



html {
	box-sizing: border-box;
	font-size: 16px;
	background-image: url('../images/pixel1.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 25vh;
	padding-top: 10px;
}

.nav {
	 display: flex;
	 justify-content: center;
	 padding: 0px;
	 position: absolute;
	 transform: all 0.3s;
	 background: #FFD700;
	 z-index: 9;
	 top: 0px;
	 width: 100%;
}
.tight {
	 float:left;
	 margin-right: 10px;
	 margin-bottom: 5px;
	 border:solid black 1px;
	 padding: 2px;

}
.info {
	float: right;
	background-color: none;
	width: 50%;
	margin-right:150px;
	font-style: italic;
	font-size:29px;

}

.nav ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav ul li {
	display: flex;
}
.nav ul li a {
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 1.1em;
	color: #333;
	padding: 0.25rem 0;
	margin: 0 1.80rem;
	text-transform: uppercase;
}
.nav ul li.logo .black {
	display: none;
}

.nav ul li.logo a{
	margin: 0 4rem;
}
.nav-icon {
	position: absolute;
	top: 83px;
	right: 90px;
	padding: 5px;
	width: 40px;
	z-index: 1;
	cursor: pointer;
}
.nav-icon span {
	background: #333;
	width: 30px;
	height: 1px;
	display: block;
	transition: 300ms linear all;
}
.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3)  {
	width: 20px;
	margin: 0 auto;
}
.nav-icon span:nth-child(2) {
	margin: 5px 5px;
	width: 30px;
}
.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3) {
	width: 30px;
}
.full-nav {
	background: #f1c30f;
	color: #18191d;
	position: fixed;
	left: 0;
	top: 0px;
	width:100%;
	height: 100%;
	padding: 0.5rem;
	z-index: 99;
	overflow-y: hidden;
	overflow-x: hidden;
	visibility: hidden;
	opacity: 0; 
	transform: translateY(-100px);
	transition: all 0.4s ease-in-out;

}

.full-nav.open {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	z-index: 99;
}

.full-nav.logo {
	display: flex;
	justify-content: center;
	padding: 6rem;
}

.nav2 {
	display: flex;
	justify-content: center;

}
.nav2 ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 700px;
}
.nav2 ul li{
	display: flex;
	flex:50%;
	background-color: #f5f5f5;
	padding: 1rem;
	border-bottom: 10px solid #f1c30f;
	border-right:  10px solid #f1c30f;
	transition: all 0.5s;
}
.nav2 ul li a span{
	color: #b9b9b9;
}
.nav2 ul li:hover {
	background-color: #ff1637;
}
.nav2 ul li:hover a,
.nav2 ul li a span {
	color:white;
}

.social-icons a{
	color: white;
	border: 3px solid white;
	width:50px;
	height: 50px;
	line-height: 40px;
	font-size: 20px;
	display: inherit;
	text-align: center;
	border-radius: 50px;
	transition: all ease 1s;
	margin-top: 40px;
}
.social-icons a:hover i{
	color: #000;
	margin top:10px;
	border-color: #000;
}
ul.social-icons.list-inline {
	text-align: center;
	margin-top: 22px;

}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
.corner-circle {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 120px;
	background-color: white;
	border-radius: 0 0 0 120px;
	z-index: 2;
}

.nav-close {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 30px;
	right: 30px;

}

.nav-close span {
	background: #18191d;
	width: 30px;
	height: 1px;
	display: block;
	position: absolute;
	top: 14px;
}

.nav-close span:nth-child(1) {
	transform: rotate(45deg);

}
.nav-close span:nth-child(2) {
	transform: rotate(-45deg);

}
.nav.sticky {
	width: 100%;
	position: fixed;
	background-color: white;
	box-shadow: 0 10px 10px -10px rgba(0,0,0,.35);

}
 
 .nav.sticky a{
 	color: #18191d;

 }
 .nav.sticky ul li.logo .white {
 	display: none;
 }

 .nav.sticky .nav-icon span {
 	background-color: #18191d;
 }